*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    background: url("./../assets/img/BG.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
}

.float-left {
    float: left;
}

.container {}

.row {
    width: 100%;
}

#loader {
    width: 25px;
    margin-top: 5px;
}

#game,
#score {
    width: 500px;
    margin: 0 auto;
}

#game {
    height: 320px;
    margin-top: 100px;
    border-bottom: 1px solid #69a5e1;
}

#choose {
    font-size: 20px;
    color: white;
    padding: 0;
}

#symbols {
    height: 175px;
    width: 240px;
    border: 1px dashed #9B861E;
    overflow: hidden;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#spin-form {
    width: 250px;
}

#select-symbol {
    width: 240px;
    height: 34px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 30px;
    border: 1px solid #ccc;
}

#result-container {
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 0;
    background: black;
    height: 40px;
    padding-top: 5px;
    padding-left: 15px;
    width: 240px;
}

#result-container p.win {
    color: #0C8308;
}

#result-container p.lose {
    color: #DB1B1B;
}

#btn-spin {
    background: transparent;
    padding: 0;
    border-radius: 70px;
    background: none;
    outline: none;
    margin-left: 100px;
    margin-top: 20px;
}

#btn-spin:enabled:hover {
    border-color: #DD8B10;
}

#btn-spin:enabled:active {
    transform: translateY(4px);
}

.bounceInLeft {
    animation-name: bounceInLeft;
}

#score {
    background-color: #f1f1f1;
    padding: 10px;
}

#score #total-score,
#score #session-score {
    width: 50%;
}

.reset {
    margin-top: 10px;
    background-color: #376770;
    border: 1px solid #196cab;
    display: inline-block;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 30px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #41a5c9;
}

.reset:hover {
    background-color: #1e5b8a;
}

.reset:active {
    position: relative;
    top: 1px;
}